@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.login-logo {
    color: #AA3939;
}

.home-page {
    padding: 1% 0 0;
    margin: auto;
}

.card {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #AA3939;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

    button:hover, button:active, button:focus {
        background: #D46A6A;
    }

.btn-exit {
    background: #801515;
}

button.btn-exit:hover, button.btn-exit:active, button.btn-exit:focus {
    background: #AA3939;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

    .form .message a {
        color: #AA3939;
        text-decoration: none;
    }

.form .register-form {
    display: none;
}

body {
    background: #D46A6A; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #D46A6A, #AA3939);
    background: -moz-linear-gradient(right, #D46A6A, #AA3939);
    background: -o-linear-gradient(right, #D46A6A, #AA3939);
    background: linear-gradient(to left, #D46A6A, #AA3939);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}

.form-control-borderless {
    border: none;
}

    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 0;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
        margin-left: 2px;
        margin-right: 2px;
    }

.img-header {
    margin: 3px 10px 0 10px;
    height: 45px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-list-container .autocomplete-items {
    margin-top: 10px;
}

    .autocomplete-list-container .autocomplete-items .list-group-item:hover {
        font-weight: bold;
        color: #801515;
        background-color: #D46A6A;
    }

.map-container {
    margin: 10px;
}

    .map-container .map-description {
        margin-bottom: 10px;
    }

.home-page .logo {
    padding-left: 85px;
}
